.login-page {
  width: 360px;
  padding: 15% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: transparent;
  /*  
  background: -webkit-linear-gradient(right, #3E3E3E, #1953b3);
  background: -moz-linear-gradient(right, #3E3E3E, #1953b3);
  background: -o-linear-gradient(right, #3E3E3E, #1953b3); */
  /* background: linear-gradient(to left, #ffffff, #1953b3);     */
  max-width: 360px;
  /* background: -o-repeating-linear-gradient(to left, #ffffff, #1953b3); */
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
  background: #3E3E3E; 
  background: -webkit-linear-gradient(right, #3E3E3E, #1953b3);
  background: -moz-linear-gradient(right, #3E3E3E, #1953b3);
  background: -o-linear-gradient(right, #3E3E3E, #1953b3);
  background: linear-gradient(to left, #1E1E1E, #1E1E1E);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
#welcomeToTheLoginPageMessage{
  color: ivory;
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.6em;
}

.primaryFont{
    color: ivory;
    font-size: 1.2em;
}

.centerOnScreen{
    position: fixed; /* or absolute */
  top: 40%;
  left: 40%;
  
}